.popup_opened{
  display: block;
  max-width: 880px;
  margin: 0 auto 0 auto;
  position: fixed;
  z-index: 1;
}
.popup_opened::before{
  content: '';
  position: fixed;
  background: #000000;
  opacity: 0.3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
