.popup__item{
  width: 358px;
  height: 27px;
  margin: 0;
  margin-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.popup__item:last-child{
  margin: 0;
}
@media screen  and (max-width: 767px){
  .popup__item{
    margin-bottom: 30px;
    width: 238px;
  }
}
